@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .normalLink {
    @apply flex px-4 relative items-center gap-1 text-[1.6rem] text-gray-700 font-medium hover:text-violet-800 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-full after:h-[0.2rem] after:bg-violet-800 after:transition-all after:duration-300 after:scale-x-0 hover:after:scale-x-100 origin-center;
  }

  .activeLink {
    @apply flex px-4 relative items-center gap-1 text-[1.6rem] text-violet-800 font-medium after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-full after:h-[0.2rem] after:bg-violet-800 after:scale-x-100;
  }
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

.bar::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 100%;
  top: 0;
  left: -3rem;
  background-color: white;
  transition: 250ms linear;
}

.burgerMenu:hover .bar::before {
  left: 100%;
}

.bg-size {
  background-size: 0% 0.2rem;
}

.bg-position {
  background-position: 50% bottom;
  -webkit-box-decoration-break: clone;
}

.bg-size:hover {
  background-size: 100% 0.2rem;
}

.tooltip::before {
  content: attr(data-title);
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5b21b6;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  color: white;
  border-radius: 0.4rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  white-space: nowrap;
  margin-bottom: 0.2rem;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-radius: 1rem;
  overflow: hidden;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.6rem !important;
  font-weight: 800;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-25%) !important;
  width: 3.2rem !important;
  height: 9rem !important;
  background-color: rgba(237, 237, 237, 0.6);
  color: #1b1a1a !important;
  border-radius: 5rem;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: background-color 0.5s ease, color 0.5s ease, left 0.3s ease,
    right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.swiper-button-prev {
  left: -2rem !important;
}

.swiper-button-next {
  right: -2rem !important;
}

.trending:hover .swiper-button-prev {
  left: 2rem !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.trending:hover .swiper-button-next {
  right: 2rem !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: white;
  color: rgb(109 40 217) !important;
}

@media (min-width: 991px) {
  html {
    font-size: 55%;
  }

  .banner {
    background-position: center;
  }
}

@media (min-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}
